<div class="body-wrapper gb">
  <h1 class="minor-title"><%= @actor.name %></h1>
  <p><%= @actor.name %> has stared in</p>
	<!-- see a list of all movies from this actor -->
  <% @actor.movies.each do |movie| %>
	  <img class="movie-pic" src="<%= movie.poster_url %>">
  <% end %>
	<!-- review an actor -->
	<p>What do you think of <%= @actor.name %>?</p>
	<%= render "form_feilds" %>
</div>
