<div class="body-wrapper">
  <div class="show-container">
    <h1 class="minor-title"><%= @movie.title  %></h1>
    <img class="movie-pic" src="<%=   @movie.poster_url %>">
    <p>Director: <b><%= @movie.director %></b></p>
    <p>Writer: <b><%= @movie.writer %></b></p>
    <p>Release Year: <b><%= @movie.year %></b></p>
    <p>Actors: <%= render partial: @movie.actors, locals: {movie: @movie} %></p>

    <h2>Reviews</h2>
    <% if @movie.reviews %>
      <%= render @movie.reviews%>
    <% end %>
    <% if user_signed_in? %>
    <%= render partial: 'reviews/form', locals: {type: @movie} %><br>
    <% end %>

    <h2>Rating</h2>

    <%= rating(@movie) %>

    <% if user_signed_in? %>
    <p>Rate:</p>
      <%= render partial: '/ratings/rating_buttons', locals: {type: @movie} %>
    <% end %>
  </div>
</div>

