<!DOCTYPE html>
<html>
<head>
  <title>Paperclip</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">
  <h1 class="title">movies</h1>
  <p class="home"><%= link_to "home", root_path %></p>
  <div class="logs">
  <% if user_signed_in? %>
    <p><%= link_to "Logout", destroy_user_session_path, :method => :delete %></p>
  <% else %>
    <p><%= link_to "login", new_user_session_path %></p>
    <p><%= link_to "sign up", new_user_registration_path %></p>
  <% end %>
  </div>
</div>
<%= yield %>

</body>
</html>
